.node {
  width: 2.22%;
  /* width: 2.22 vw; */
  height: 30px;
  /* height: 4vh; */
  /* height: 5%; */
  /* height: auto; */
  vertical-align: top;
  outline: 1px solid gray;
  display: inline-block;
  /* margin-top: -4px; */
  /* margin-top: -10%; */
}

.node-visited {
  background-color: lightblue;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: visiting;
  /*animation-duration: 0.2s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running; */
}

@keyframes visiting {
  0% {
    transform: scale(0.3);
    background-color: rgba(17, 104, 217, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(17, 104, 217, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

/* @keyframes visiting {
  from {
    background-color: darkblue;
  }
  to {
    background-color: lightblue;
  }
} */

.node-shortestPath {
  /* background-color: rgb(19, 180, 27); */
  animation-name: path;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes path {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

/* @keyframes path {
  from {
    background-color: yellowgreen;
  }
  to {
    background-color: yellow;
  }
} */

.startNode {
  /* background-color: green; */
  background-image: url("./play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: StartEndNodeAnimation;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  border: 3px solid black;
}

.endNode {
  /* background-color: red; */
  background-image: url("./stop-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: StartEndNodeAnimation;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  border: 3px solid black;
}

@keyframes StartEndNodeAnimation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wall-true {
  /* background-color: brown; */
  background-color: #1e2431;
  animation-name: wall;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes wall {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.weight-present-path {
  background-color: yellow;
  background-image: url("./weight.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.weight-present-visited {
  background-color: lightblue;
  background-image: url("./weight.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.weight-present {
  /* background-color: black; */
  background-image: url("./weight.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: weight;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

@keyframes weight {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
