.node {
  width: 25px;
  height: 25px;
  outline: 1px solid gray;
  display: inline-block;
}

.node-visited {
  background-color: pink;
}

.node-shortestPath {
  background-color: blue;
}

.startNode {
  background-color: green;
}

.wall-true {
  background-color: brown;
}

.endNode {
  background-color: red;
}
