.node {
  width: 25px;
  height: 25px;
  outline: 1px solid gray;
  display: inline-block;
}

.node-visited {
  background-color: lightcyan;
}

.node-shortestPath {
  background-color: purple;
}

.startNode {
  background-color: green;
}

.endNode {
  background-color: red;
}
