.grid {
  margin-top: 10px;
}

.time {
  position: absolute;
  font-size: large;
  right: 10%;
}

.pathCost {
  position: absolute;
  font-size: large;
  right: 30%;
}

.pathLength {
  position: absolute;
  font-size: large;
  right: 50%;
}

.checkBox {
  color: white;
  margin-left: 5px;
}

.description {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: darkblue;
}

.labels {
  align-items: center;
  text-align: center;
  /* text-decoration: double; */
}
