.grid {
  /* margin: 30px 100px 100px; */
  margin-top: 10px;
  /* width: 100vw; */
  /* height: 100vh; */
  /* height: 100%; */
  /* width: 100%; */
  /* margin-top: 2%; */
}

.time {
  position: absolute;
  font-size: large;
  right: 10%;
}

.pathCost {
  position: absolute;
  font-size: large;
  right: 30%;
}

.pathLength {
  position: absolute;
  font-size: large;
  right: 50%;
}

.checkBox {
  color: white;
  margin-left: 5px;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

.description {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: darkblue;
}

.labels {
  align-items: center;
  text-align: center;
  /* text-decoration: double; */
}
