.grid {
  margin: 30px 100px 100px;
}

.time {
  position: absolute;
  font-size: large;
  right: 10%;
}

.pathCost {
  position: absolute;
  font-size: large;
  right: 30%;
}

.pathLength {
  position: absolute;
  font-size: large;
  right: 50%;
}

.checkBox {
  color: white;
  margin-left: 5px;
}
