.navstyle{
    font: 16px Roboto, sans-serif;
}
.nav-tabs{
    color: blue !important;
    background-color: blue !important;
    border-bottom-width: 5px !important;
  }
  
.nav-link-style{
    color: #007bff !important;
    background-color: #343a40 !important;
    /* border-bottom-width: 5px !important; */
    border: 1px solid #dee2e6!important;
    margin-top: 7px;
    /* display: inline-flex; */
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-link-style:hover{

    color: #fff !important;
    background-color: #007bff !important;
    /* background-color: rgb(239, 188, 5) !important; */
}

.nav-link.active{

    color: #fff !important;
    background-color: #007bff !important;
    border-color:#0b89b3 !important;
}